version: '3'

# Variables
vars:
  INSTALL_DIR: "$HOME/.local"
  MODULES_DIR: "$HOME/.local/modules"
  DYNAMIC_INCLUDE: "$HOME/.local/includes.yml"

# Main Tasks
tasks:
  default:
    desc: "Show the list of available tasks"
    cmds:
      - task --list

  init:
    desc: "Initialize the devkit environment"
    cmds:
      - echo "Devkit environment initialized."
      - mkdir -p {{.MODULES_DIR}}
      - task update-includes
      - task --list

  ls_mod:
    desc: "Install all modules"
    cmds:
      - |
        ls {{.MODULES_DIR}}

  rm_mod:
    desc: "Remove module"
    inputs:
      - module
    cmds:
      - rm {{.MODULES_DIR}}/{{.module}}
      - echo "Module {{.module}} removed"

  install_mod:
    desc: "Install a module"
    summary: "Clone a module from a public repository URL."
    inputs:
      - url
    cmds:
      - |
        REPO_NAME=$(basename -s .git {{.url}})
        # remove "-tasks" from the repo name
        MODULE_NAME=$(echo $REPO_NAME | sed 's/-tasks//')
        mkdir -p {{.MODULES_DIR}}/$MODULE_NAME
        git clone {{.url}} {{.MODULES_DIR}}/$MODULE_NAME
      - task update-includes
      - echo "Module $MODULE_NAME installed."

  update_mod:
    desc: "Update all installed modules"
    silient: true
    cmds:
      - |
        for module in $(ls {{.MODULES_DIR}}); do \
          cd {{.MODULES_DIR}}/$module && git pull; \
          cd ../..; \
        done
      - task update-includes
      - echo "All modules updated."

  update:
    desc: "Update devkit"
    summary: "Fetch the latest version of the main Taskfile and update all modules."
    cmds:
      - echo "Updating the main Taskfile..."
      - curl -sSL https://raw.githubusercontent.com/42dev-co/devkit/main/devkit-install.sh | bash
      - echo "Main Taskfile updated."
      - task mod_update
      - task update-includes
      - echo "Devkit and modules updated."

  clean:
    desc: "Clean up all installed modules"
    cmds:
      - rm -rf {{.MODULES_DIR}}
      - rm -f {{.DYNAMIC_INCLUDE}}
      - echo "All modules have been cleaned up."

  update-includes:
    desc: "Update the dynamically included tasks from modules"
    cmds:
      - |
        echo "includes:" >> {{.DYNAMIC_INCLUDE}}
        for module in $(find {{.MODULES_DIR}} -mindepth 1 -maxdepth 1 -type d); do \
          MODULE_NAME=$(basename $module); \
          TASKFILE_PATH="$module/Taskfile.yml"; \
          if [ -f $TASKFILE_PATH ]; then \
            echo "  $MODULE_NAME: $TASKFILE_PATH" >> {{.DYNAMIC_INCLUDE}}; \
          fi; \
        done
        if [ -f "$INSTALL_DIR/include.yml" ]; then
          cat $INSTALL_DIR/Taskfile.yml.tmpl $INSTALL_DIR/include.yml > $INSTALL_DIR/Taskfile.yml
        else
          cat $INSTALL_DIR/Taskfile.yml.tmpl > $INSTALL_DIR/Taskfile.yml 
        fi
        echo "Dynamic includes updated."

